  .logo{
    width: 130px;
    height: 180px;
    margin-top: 5%;
    margin-bottom: 5%;
 
  }

  .icoon1{
    width: 30%;
    margin-top: 30%;
    
  }

  .icoon2{
    width: 30%;
    margin-top: 30%;
  }

  .vlam{
    width: 19%;
    margin-top: 20%;
  }

  .berg{
    width: 28%;
    margin-top: 22%;
  }

  .persoon{
    width: 22%;
    margin-top: 20%;
  }

  .hometekst{
    margin-bottom: 5%;
    text-align: center;
    color: $primary;
  }

  .contact{
    margin-bottom: 5%;
    font-size: 18px;

  }

  .betaal{
    text-align: center;
  }

  .bevestigingsfoto{
    border-radius: 2rem;
    margin-bottom: 5%;
  }

  .homefoto1{
    margin: 0 auto;
  }

  h1{
   margin-top: 6%;
   font-size: $titelsfontsize;
   font-weight: 400;
   color: $primary;
    
  }
  
  h2{
    font-size: 18px;
    font-weight: 400;
    color:$primary;
    ;
  }

  p{
    text-align: center;
    color: $gewonetekst;
    font-size: 16px;
  }

  .tekst_index{
    padding-left: 30px;
    padding-right: 30px;
  }

  ul{
    list-style-type: none;
    text-align: center;
  }
  .lijntje{
    border: 1px solid $primary;
    width: 50px;
    margin-bottom: 5%;
    border-radius: 1rem;
  }

  .sterretje{
    font-size: 11px;
    color: $gewonetekst;
    font-weight:300;
    margin-bottom: 5%;
  }

  .btn-outline-primary {
    font-size: 16px;
    color: $primary;
    background-color: transparent;
    background-image: none;
    border-color: $primary;
    border-radius: 2rem;
    padding-right: 50px;
    padding-left: 50px;
}

  .btn-outline-primary:hover{
    background-color: $primary;
    border-color: $primary;

}

.btn-outline-primary{
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 20%;
}

.lijstje{
  width: 24%;
}

.uitroepteken{
  width: 13%;
}

.geld{
  width: 30%;
}

.tijdsduur{
  width: 19%;
}

.herstel{
  width: 20%;
}

.image_container{
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10%;
}

.img_pulmino_pagina{
  margin: 0 auto;
  width: 95%;
  opacity: 0.3;
  border-radius: 3rem;
  opacity: 1;
  display: block;
  background: 50% 50% no-repeat;
  transition: .5s ease;
}

.div_pulmino{
   border-radius: 3rem;
}

.column {
	display: inline-block;
	text-align: center;
}

figure {
	overflow: hidden;
}

.column img {
	display: block;
	width: 90%;
}

.column#zoomIn img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.column#zoomIn:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.tekst_pulmino{
  text-align: center;
  padding-top: 12%;
  font-style: italic;
  color: $primary;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10%;
}

.homefoto1 {
  width: 75%;
  opacity: 0.3;
  border-radius: 2rem;
  margin-bottom: 10%;
  opacity: 1;
  display: block;
  background: 50% 50% no-repeat;
  transition: .5s ease;
  backface-visibility: hidden;
}

.home:hover .homefoto1 {
  opacity: 0.1;
}

.tekst_index {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 5%;
  width: 65%;
}

.home:hover .tekst_index {
  opacity: 1.0;
  background-color: rgba(237, 164, 156, 0.4);
  border-radius: 2rem;
 
}

.info_tekst{
  font-weight: 300;
}

.pulmino_inleiding{
  font-weight: 300;
  font-style: italic;
  font-size: 17px;
  color: $primary;
}

.intro_huren{
  text-align: center;
  font-weight: 300;
  color: $primary;
}

.lijntje_huren{
  width: 50%;
  border: 0.5px solid $primary;
  border-radius: 2rem;
  margin-bottom: 6%;
  margin-top: 3%;
  
}

.totaalprijs{
  border-top: 1px solid $primary;
}

.knop_uitlijning{
  text-align: right;
}

h3{
  font-family: Lato, sans-serif;
  font-size: 19px;
  color: white;
  font-weight: 300;
  font-style: italic;
}

.table th, .table td{
  border: none;
  font-family: Lato, sans-serif;
}

.gegevens{
  font-size: 18px;
  color: $gewonetekst;
  font-weight: 400;
}
.gegevens_info{
  color: $anderetekst;
  font-weight: 300;
}

/*contact formulier */

input[type=text],
select,
textarea {
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border-bottom: 2px solid rgb(214, 217, 238);
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.label{
  font-size: 16px;
  color: $gewonetekst;
}

input[type=verzenden] {
  color: $primary;
  padding: 12px 10px;
  border-color: $primary;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
}

input[type=verzenden]:hover {
  background-color: $primary;
  color: white;
}

.underline{
  border: none;
  border-bottom: solid 2px rgb(214, 217, 238);
  width: 90%;
  color: $anderetekst;
  margin-top: 25px;
}

.underline_textarea{
  border: none;
  border-bottom: solid 2px rgb(214, 217, 238);
  width: 100%;
  color: $anderetekst;
  margin-top: 25px;
  margin-bottom: 20%;

}

.underline:focus{
  width: 105%;
  border-bottom-color: $primary;
  transition: 100ms;
  outline: none;
  transition-duration: 200ms;
  transition-property: width;
}


.underline_textarea:focus{
  width: 105%;
  border-bottom-color: $primary;
  transition: 100ms;
  outline: none;
  transition-duration: 200ms;
  transition-property: width;
}

.mail_verzonden{
  font-weight: 300;
  color: $anderetekst;
}


/* einde contact formulier */

  /* gegevensformulier */

  .annulatieverzekering{
    margin-top: 4%;
  }
  .form-control{
    width: 33%;
    border-radius: 2rem;
    border: none;
    background-color: $elementen;
    color: $gewonetekst;
  }

  .form-control:focus{
    outline: none;
  }

  #date{
    color: $gewonetekst;
    border-radius: 2rem;
    border: 1px solid $primary;
    padding: 2%;
  }
  .gegevensformulier{
    margin-bottom: 15%;
  }

  .invalid_feedback{
    color: $primary;
    background-color: $anderetekst;
  }
  
  /* einde gegevensformulier */
  
iframe{
  justify-content: center;
  margin-bottom: 25%;
  border-radius: 2rem;
  width: 70%;
  height: 50%;
}

.betaalstrook{
  width: 65%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.streep{
  border-bottom: 1px solid;
  width: 100%;
}

.knop_volgende{
  margin-top: 17%;
}

.knop_controleer{
  margin-top: 7%;
}

.betalingsmethode{
  margin-bottom: 5%;
}

.form-check-input{
  margin-left: -2rem;
}
.maestro{
  margin-left: -2.5rem;
}

.bankkaart{
  width: 10%;
}

.img_creditcard{
  width: 10%;
}

.creditcard{
  margin-left: 7.3%;
}

.img_maestro{
  width: 12%;
}

  /* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {

  .img_creditcard{
    width: 8%;
  }

  .creditcard{
    margin-left: 6%;
  }

  .pulmino_inleiding{
    font-size: 20px;
  }

  .label{
    font-size: 18px;
  }
  .contact{
    font-size: 22px;

}
}
/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  h1{
    margin-top: 6%;
    font-size: 20px;
     
   }
  .btn-outline-primary {
    font-size: 18px;
   }

   .vlam{
    width: 18%;
    margin-top: 25%;
  }

  .berg{
    width: 34%;
    margin-top: 27%;
  }

  .persoon{
    width: 25%;
    margin-top: 25%;
  }

  .image_container{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .logo{
    width: 200px;
    height: 280px;
    margin-top: 5%;
    margin-bottom: 5%;
   
    }

  /*contact formulier */

  input[type=text],
  select,
  textarea {
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border-bottom: 2px solid rgb(214, 217, 238);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


  .label{
    font-size: 18px;
    color: $gewonetekst;
  }

  input[type=verzenden] {
    color: $primary;
    padding: 12px 10px;
    border-color: $primary;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
  }

  input[type=verzenden]:hover {
    background-color: $primary;
    color: white;
  }

  .underline{
    border: none;
    border-bottom: solid 2px rgb(214, 217, 238);
    width: 90%;
    color: $anderetekst;
    margin-top: 25px;
  }

  .underline_textarea{
    border: none;
    border-bottom: solid 2px rgb(214, 217, 238);
    width: 100%;
    color: $anderetekst;
    margin-top: 25px;

  }

  .underline:focus{
    width: 105%;
    border-bottom-color: $primary;
    transition: 100ms;
    outline: none;
    transition-duration: 200ms;
    transition-property: width;
  }


  .underline_textarea:focus{
    width: 105%;
    border-bottom-color: $primary;
    transition: 100ms;
    outline: none;
    transition-duration: 200ms;
    transition-property: width;
  }

  /* einde contact formulier */

  .betaalstrook{
    width: 45%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
  }

  .gegevensformulier{
    margin-bottom: 5%;
  }
  .img_pulmino4{
    margin-bottom: 10%;
  }

  .img_creditcard{
    width: 5%;
  }

  .creditcard{
    margin-left: 3%;
  }

}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

  h1{
    margin-top: 6%;
    font-size: 25px;
     
   }
  h2{
    font-size: 23px;
  }
  .btn-outline-primary {
    font-size: 20px;
   }

   .vlam{
    width: 21%;
    margin-top: 30%;
  }

  .berg{
    width: 37%;
    margin-top: 32%;
  }

  .persoon{
    width: 28%;
    margin-top: 30%;
  }

  .image_container{
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }

  .homefoto1{
    width: 100%;
    opacity: 0.3;
    border-radius: 2rem;
  }
  .tekst-col-3{
    margin-bottom: 11%;
  }

  .tekst_index{
    padding-left: 10px;
    padding-right: 10px;
  }
  


.homefoto1 {
  margin-bottom: 10%;
  opacity: 1;
  display: block;
  background: 50% 50% no-repeat;
  transition: .5s ease;
  backface-visibility: hidden;
}

.home:hover .homefoto1 {
  opacity: 0.1;
}

.tekst_index {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 5%;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

.home:hover .tekst_index {
  opacity: 1.0;
  background-color: rgba(237, 164, 156, 0.4);
  border-radius: 2rem;
 
}

.betaalstrook{
  width: 40%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.img_creditcard{
  width: 5%;
}

}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

  h1{
    margin-top: 6%;
    font-size: 25px;
     
   }

  h2{
    font-size: 23px;
  }
  .btn-outline-primary {
    font-size: 20px;
   }
  .logo{
    width: 240px;
    height: 340px;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    }

    .img_creditcard{
      width: 5%;
    }

}