 /* NAVIGATION BAR
 -------------------------------------------------- */

 .hamburger{
  width: 25px;
  height: 20px;
}
.hamburger:hover{
  width: 28px;
  height: 23px;
}

.nav-item{
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  border-bottom: 2px solid white;
  
}

@media (min-width: 992px) {
  .hamburger{
    width: 30px;
    height: 25px;
  }
  .hamburger:hover{
    width: 33px;
    height: 28px;
  }
  .nav-item{
    border-right: 2px solid white;
    border-bottom: none;
  }

  .nav-item{
    font-size: 20px;
  }
  
}
 #navigation {
    min-height: 70px !important;
    padding-top: 10px;
  }

.navbar {
    padding: 0.5rem 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .navbar-toggler{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    text-align: right;
    margin-left: auto;
    margin-top: auto;
    margin-right: 10%;
    margin-top: 5%;
    border: none;
  }

  .navbar-toggler:focus{
    outline: none;
  }



  #navigation .navbar-brand {
    padding-right: 28px;
    width: 280px;
    border-right: 3px solid $primary;
    font-family: "hobo-std", sans-serif;
    font-style: italic;
    font-size: 26px !important;
    color: #5fcf80 !important;
  }
  #navigation .navbar-brand .site-logo {
    float: left;
    margin-top: -10px;
    margin-right: 1rem;
    width: 250px;
  }
  #navigation #navbar {
    float: right !important;
    margin-right: -15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5) !important;
  }
  .navbar-nav{
    width: 100%;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: $primary;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    font-size: 18px;
    font-weight: 400;
  }

  .navbar-light .navbar-nav .nav-link{
    color: $primary;
  }


@media (max-width: 991px) {
  body {
    position: relative;
  }
  .navbar {
    position: static !important;
  }
  .navbar-toggler{
    position: absolute;
    top: 0;
    right: 0;
  }
}

  @media (max-width: 768px) {
    #navigation #navbar {
        float: none !important;
        margin-right: 0;
    }
  }
  #navigation #navbar .navbar-nav li a {
    color: rgb(230, 245, 249) !important;
  }
  #navigation #navbar .navbar-nav li a:hover,
  #navigation #navbar .navbar-nav li a:focus {
    color: rgb(230, 245, 249) !important;
    border-bottom: 2px solid $primary !important;
  }
  #navigation #navbar .navbar-nav .active a {
    color: rgb(230, 245, 249) !important;
    border-bottom: 2px solid $primary !important;
  }
  #navigation #navbar .navbar-nav .dropdown-menu li a {
    color: #515151 !important;
    text-shadow: none !important;
  }

  #navbarSupportedContent{
    background-color: rgb(230, 245, 249);
    border: rgb(230, 245, 249);
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 25px;
    padding-left: 25px;
  }




